# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# JetBrains
.idea/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# MySQL
*.sql

# Misc
*.swp
*.swo
